<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<div class="aw-error-panel">
	<h1 class="aw-error-panel__code">
		<i class="fa  fa-exclamation-triangle"></i> 500
	</h1>

	<h2 class="aw-error-panel__title">Erro Interno do Servidor</h2>

	<div class="aw-error-panel__description">
		Desculpe, há um problema com o recurso que você está tentando acessar e não pode ser exibido.
		Entre em contato conosco para obter ajuda.
		<br/><br/>
		<a href="javascript:history.back()" class="btn  btn-primary">Voltar para a página inicial</a>
	</div>
</div>
</html>